<div style="height: 10vh">
  <div
    class="footer"
    style="height: 10vh; display: flex; border-top: 3px solid green"
  >
    <div class="row" style="width: 100%; margin: 0; padding: 0">
      <div
        class="col-12"
        style="display: flex; justify-content: end; align-items: center"
      >
        <button
          style="
            height: 70%;
            background-color: #3a7e45;
            border: none;
            color: white;
            margin-right: 1rem;
          "
          (click)="openNewProduct()"
        >
          Añadir producto
        </button>
      </div>
    </div>
  </div>
</div>
