<div>
  <div
    class="header"
    style="height: 10vh; display: flex; border-bottom: 3px solid green"
  >
    <div class="row" style="width: 100%; margin: 0; padding: 0">
      <div
        class="col-9"
        style="display: flex; justify-content: flex-start; align-items: center"
      >
        <img src="../../../assets/Mercadona_logotipo.jpg" style="height: 6vh" />
        <h5>Mercadona</h5>
      </div>
      <div
        class="col-3"
        style="display: flex; justify-content: end; align-items: center"
      >
        <span *ngIf="logged"
          >hdura
          <svg
            (click)="login()"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-box-arrow-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"
            />
            <path
              fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
            /></svg
        ></span>
        <button
          *ngIf="!logged"
          style="
            height: 70%;
            background-color: #51565a;
            border: none;
            color: white;
          "
          (click)="login()"
        >
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>
</div>
