<div>
    <div class="header" style="height: 10vh; display: flex; border-bottom: 3px solid green;">
        <div class="row" style="width: 100%; margin: 0; padding: 0;">
            <div class="col-9" style="display: flex; justify-content: flex-start;
            align-items: center;">
                <img src="../../../assets/Mercadona_logotipo.jpg" style="height: 6vh;">
                <h5>Mercadona</h5>
            </div>
            <div class="col-3" style="display: flex; justify-content: end; align-items: center;">
                <button style="height: 70%; background-color: #51565A; border: none; color: white;">Iniciar sesión</button>
            </div>
        </div>
    </div>
</div>