app-footer {
    height: 10%;
      position: fixed;
      bottom: 0;
      width: 100%;
      background: white;
}

ag-grid-angular {
    width: 85vw; height: 90%
}

app-header {
    height: 10%;
}

.contenedorTabla {
    height: 90%
}



.example-header {
    justify-content: space-between; width: 85vw
}